[package]
name = "runner"
version = "0.1.0"
edition = "2021"


[dependencies]
fbc_scrubber = { path = "../lib"}
chunkfs = { git = "https://github.com/Piletskii-Oleg/chunkfs.git", branch = "SBC-FBC-support",  features = ["hashers", "chunkers"] }
rand = "0.8.5"